<section class="section">
  <div class="container container-p-t">

    <div class="part-first">
      <h2 class="about-us-title">About Us</h2>
      <div class="about-us-text">
        <p>Welcome to our premium watch collection, where luxury and style meet functionality
          and precision. Our selection of
          timepieces embodies the very best in Swiss craftsmanship and engineering, ensuring that you'll
          always have a reliable
          and stylish accessory on your wrist.</p>
        <p>At our premium watch collection, we believe that a watch is more than just a
          timekeeping device – it's a statement piece
          that reflects your personality and style. So why settle for anything less than the best?</p>
      </div>
      <button class="about-us-btn" type="button"><a class="about-us-btn-link" href="#Catalog">Catalog</a></button>
    </div>
    <div class="part-second">
      <picture>
        <source media="(min-width: 1280px)"
          srcset="../img/about-us/about-us-pc@1x.jpg 1x, ../img/about-us/about-us-pc@2x.jpg 2x">
        <source media="(max-width: 767px)"
          srcset="../img/about-us/about-us-mobile@1x.jpg 1x, ../img/about-us/about-us-mobile@2x.jpg 2x">
        <source media="(min-width: 768px)"
          srcset="../img/about-us/about-us-tablet@1x.jpg 1x, ../img/about-us/about-us-tablet@2x.jpg 2x">
        <img class="about-us-foto" src="../img/about-us/about-us-mobile@1x.jpg" alt="watch" width="100%">
      </picture>

    </div>

  </div>
</section>