  <section id="advertisement" class="advertisement-section section">
      <div class="advertisement-image  container">
        <h2 class="visually-hidden">Advertisement</h2>
        <div class="advertisement-content-div">
          <p class="advertisement-text">Choose <span class="advertisement-span">your story</span>, making every moment
            unique. Time is your style, and we reveal it.</p>
          <a class="advertisement-button" href="#contact">Contact Us</a>
        </div>
      </div>
    </section>