<section class="section" id="contact-us">
  <div class="container">
    <!-- "TODO" -->
    <h2 class="title-contact">Contact Us</h2>
    <div class="contact">
      <form>
        <div class="box-contact">
          <p class="text-contact">
            Please use the form below to contact us. Enter your name, email,
            phone, and message and we'll get back to you shortly.
          </p>
          <div class="wrapper-cont-contact">
            <input
              class="user-inp"
              type="text"
              name="user-name"
              placeholder="Name"
              pattern="[a-zA-Zа-яА-ЯіІїЇєЄґҐʼ]+"
              required
            />
          </div>
          <div class="wrapper-cont-contact">
            <input
              class="user-inp"
              type="email"
              name="user-email"
              placeholder="Email"
              pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
              required
            />
          </div>
          <div class="wrapper-cont-contact">
            <input
              class="user-inp"
              type="tel"
              name="user-tel"
              placeholder="+380"
              pattern="^\+\d{3}-\d{2}-\d{3}-\d{2}-\d{2}$"
              required
            />
          </div>
          <div class="wrapper-contact-comment">
            <textarea
              class="user-comment-contact"
              name="user-comment"
              placeholder="Comment"
              required
            ></textarea>
          </div>
          <button class="btn-contact" type="submit">Send</button>
        </div>
      </form>
      <div class="img-contact">
        <picture>
          <source
            srcset="
              /img/contact-us/contact-us-desk@1x.webp 1x,
              /img/contact-us/contact-us-desk@2x.webp 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              /img/contact-us/contact-us-tab@1x.webp 1x,
              /img/contact-us/contact-us-tab@2x.webp 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              /img/contact-us/contact-us-mob@1x.webp 1x,
              /img/contact-us/contact-us-mob@2x.webp 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="/img/contact-us/contact-us-desk@1x.webp"
            alt="wrist watch"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
