<section class="hero" id="hero">
  <div class="hero-container container">
    <div class="hero-content-container">
      <div class="hero-text-container">
        <h1 class="hero-title">
          Welcome to our <span class="hero-title-span">collection</span> of
          premium watches
        </h1>
        <p class="hero-text">
          Our watches are not just timepieces, but also an expression of your
          personality and lifestyle. From classic designs to modern ones, we
          have a watch to suit every taste and occasion.
        </p>
      </div>
      <div class="hero-minor-container">
        <div class="hero-people-container">
          <img
            src="/img/hero/hero-people-1.webp"
            srcset="
              /img/hero/hero-people-1.webp    1x,
              /img/hero/hero-people-1@2x.webp 2x
            "
            alt="people-1"
            class="hero-people-img hero-people-img-first"
          />
          <img
            src="/img/hero/hero-people-2.webp"
            srcset="
              /img/hero/hero-people-2.webp    1x,
              /img/hero/hero-people-2@2x.webp 2x
            "
            alt="people-2"
            class="hero-people-img hero-people-img-second"
          />
          <img
            src="/img/hero/hero-people-3.webp"
            srcset="
              /img/hero/hero-people-3.webp    1x,
              /img/hero/hero-people-3@2x.webp 2x
            "
            alt="people-3"
            class="hero-people-img hero-people-img-third"
          />
        </div>

        <a href="#footer" class="hero-link">Scroll down</a>
      </div>
    </div>

    <div class="hero-image-container">
      <picture>
        <source
          srcset="
            /img/hero/hero-image-mobile.webp    1x,
            /img/hero/hero-image-mobile@2x.webp 2x
          "
          type="image/webp"
          media="(max-width: 767px)"
        />
        <source
          srcset="
            /img/hero/hero-image-tablet.webp    1x,
            /img/hero/hero-image-tablet@2x.webp 2x
          "
          type="image/webp"
          media="(max-width: 1157px)"
        />
        <source
          srcset="
            /img/hero/hero-image-desktop.webp    1x,
            /img/hero/hero-image-desktop@2x.webp 2x
          "
          type="image/webp"
          media="(min-width: 1158px)"
        />
        <img src="/img/hero/hero-image.webp" alt="hero-image" width="100%" />
      </picture>
    </div>
  </div>
</section>
