<section class="section">
  <div class="container">
    <!-- "TODO" -->
      <section class="section-sale">
        <div class="sale-container container">
          <h2 class="section-sale-tittle">Sale</h2>
          <div class="product-sale-container">
            <div class="image-container">
              <div class="image-sale">
                <picture>
                  <source srcset="
                       ../images/photo1-desk.webp 1x,
                       ../images/photo1-desk-2x.webp 2x
                       " media="(min-width:1158px)" />
                  <source srcset="
                       ../images/photo1-tab.webp 1x,
                       ../images/photo1-tab-2x.webp 2x
                       " media="(min-width:768px)" />
                  <source srcset="
               ../images/photo1-mob.webp 1x,
               ../images/photo1-mob-2x.webp 2x
                             " media="(min-width:767px)" />
                  <img src="../images/photo1-mob.webp" alt="photo of watch">
                </picture>
              </div>
              <!-- 2 photos -->
              <div class="image-sale">
                <picture>
                  <source srcset="
                   ../images/photo2-desk.webp 1x,
                   ../images/photo2-desk-2x.webp 2x
                   " media="(min-width: 1158px)" />
                  <source srcset="
                             ../images/photo2-tab.webp 1x,
                             ../images/photo2-tab-2x.webp 2x
                             " media="(min-width: 768px)" />
      
                  <source srcset="
                                                   ../images/photo2-mob.webp 1x,
                                                   ../images/photo2-mob-2x.webp 2x
                                                   " media="(min-width: 767px)" />
      
                  <img src="../images/photo2-mob.webp" alt="photo of watch">
                </picture>
              </div>
      
              <!-- 3 photos -->
              <div class="image-sale">
                <picture>
                  <source srcset="
                   ../images/photo3-desk.webp 1x,
                   ../images/photo3-desk-2x.webp 2x
                   " media="(min-width: 1158px)" />
                  <source srcset="
                             ../images/photo3-tab.webp 1x,
                             ../images/photo3-tab-2x.webp 2x
                             " media="(min-width: 768px)" />
      
                  <source srcset="
                                                   ../images/photo3-mob.webp 1x,
                                                   ../images/photo3-mob-2x.webp 2x
                                                   " media="(min-width: 767px)" />
      
                  <img src="../images/photo3-mob.webp" alt="photo of watch">
                </picture>
              </div>
              <!-- 4 photos -->
              <div class="image-sale">
                <picture>
                  <source srcset="
                   ../images/photo4-desk.webp 1x,
                   ../images/photo4-desk-2x.webp 2x
                   " media="(min-width: 1158px)" />
                  <source srcset="
                             ../images/photo4-tab.webp 1x,
                             ../images/photo4-tab-2x.webp 2x
                             " media="(min-width: 768px)" />
      
                  <source srcset="
                                                   ../images/photo4-mob.webp 1x,
                                                   ../images/photo4-mob-2x.webp 2x
                                                   " media="(min-width: 767px)" />
      
                  <img src="../images/photo4-mob.webp" alt="photo of watch">
                </picture>
              </div>
            </div>
            <!-- big photos -->
      
            <div class="big-photo">
              <picture>
                <source srcset="
                               ../images/images-big-desk.webp 1x,
                               ../images/images-big-desk-2x.webp 2x
                               " media="(min-width: 1158px)" />
                <source srcset="
                                         ../images/images-big-tab.webp 1x,
                                         ../images/images-big-tab-2x.webp 2x
                                         " media="(min-width: 768px)" />
      
                <source srcset="
                                                               ../images/images-big-mob.webp 1x,
                                                               ../images/images-big-mob-2x.webp 2x
                                                               " media="(min-width: 767px)" />
      
                <img src="../images/images-big-mob.webp" alt="photo of watch">
              </picture>
            </div>
      
      
      
            <!-- 3 box -->
            <div class="sale-product-details">
              <div class="product-container">
                <h3 class="product-details-title">MARQ® Commander (Gen 2) - Carbon Edition</h3>
                <p class="product-details-tag">Product tag: 706587</p>
              </div>
              <div class="price-container">
                <span class="price-high">€1500</span>
                <span class="previous-price">€3000</span>
              </div>
              <div class="product-details-text-container">
                <p class="product-details-text">The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch for
                  adventurers that takes materials and features
                  to the next level. The body of the watch is made of very durable Fused Carbon Fiber material and has a
                  precise
                  AMOLED
                  touch screen. The sensitive touch screen is complemented by buttons that can be used in any conditions.</p>
              </div>
              <div class="material-block">
                <div class="material-block-items fused-carbon">Fused carbon fiber</div>
                <div class="material-block-items grade-give"> Grade 5 Titanium</div>
                <div class="material-block-items athlete">Athlete</div>
                <div class="material-block-items golfer">Golfer</div>
                <div class="material-block-items commander">Commander</div>
                <div class="material-block-items adventurer">Adventurer</div>
              </div>
            </div>
          </div>
      </section>
      

  </div>
</section>
