<section class="section section-sale" id="sale">
  <div class="container">
    <!-- "TODO" -->

    <h2 class="section-sale-tittle">Sale</h2>

    <div class="sale-container">
      <div class="image-wrapper">
        <div class="image-container">
          <div class="image-sale">
            <picture>
              <source
                srcset="
                  /img/sale/photo1-desk.webp    1x,
                  /img/sale/photo1-desk-2x.webp 2x
                "
                media="(min-width:1280px)"
              />
              <source
                srcset="
                  /img/sale/photo1-tab.webp    1x,
                  /img/sale/photo1-tab-2x.webp 2x
                "
                width="132px"
                media="(min-width:768px)"
              />
              <source
                srcset="
                  /img/sale/photo1-mob.webp    1x,
                  /img/sale/photo1-mob-2x.webp 2x
                "
                media="(max-width:767px)"
              />
              <img src="/img/sale/photo1-mob.webp" alt="photo of watch" />
            </picture>
          </div>
          <!-- 2 photos -->
          <div class="image-sale">
            <picture>
              <source
                srcset="
                  /img/sale/photo2-desk.webp    1x,
                  /img/sale/photo2-desk-2x.webp 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  /img/sale/photo2-tab.webp    1x,
                  /img/sale/photo2-tab-2x.webp 2x
                "
                width="132px"
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  /img/sale/photo2-mob.webp    1x,
                  /img/sale/photo2-mob-2x.webp 2x
                "
                media="(max-width: 767px)"
              />
              <img src="/img/sale/photo2-mob.webp" alt="photo of watch" />
            </picture>
          </div>
          <!-- 3 photos -->
          <div class="image-sale">
            <picture>
              <source
                srcset="
                  /img/sale/photo3-desk.webp    1x,
                  /img/sale/photo3-desk-2x.webp 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  /img/sale/photo3-tab.webp    1x,
                  /img/sale/photo3-tab-2x.webp 2x
                "
                width="132px"
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  /img/sale/photo3-mob.webp    1x,
                  /img/sale/photo3-mob-2x.webp 2x
                "
                media="(max-width: 767px)"
              />
              <img src="/img/photo3-mob.webp" alt="photo of watch" />
            </picture>
          </div>
          <!-- 4 photos -->
          <div class="image-sale">
            <picture>
              <source
                srcset="
                  /img/sale/photo4-desk.webp    1x,
                  /img/sale/photo4-desk-2x.webp 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  /img/sale/photo4-tab.webp    1x,
                  /img/sale/photo4-tab-2x.webp 2x
                "
                width="132px"
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  /img/sale/photo4-mob.webp    1x,
                  /img/sale/photo4-mob-2x.webp 2x
                "
                media="(max-width: 767px)"
              />
              <img src="/img/sale/photo4-mob.webp" alt="photo of watch" />
            </picture>
          </div>
        </div>
        <!-- big photos -->
        <div class="big-photo">
          <picture>
            <source
              srcset="
                /img/sale/images-big-desk.webp    1x,
                /img/sale/images-big-desk-2x.webp 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                /img/sale/images-big-tab.webp    1x,
                /img/sale/images-big-tab-2x.webp 2x
              "
              width="398px"
              media="(min-width: 768px)"
            />
            <source
              srcset="
                /img/sale/images-big-mob.webp    1x,
                /img/sale/images-big-mob-2x.webp 2x
              "
              media="(max-width: 767px)"
            />
            <img src="/img/sale/images-big-mob.webp" alt="photo of watch" />
          </picture>
        </div>
      </div>
      <!-- 3 box -->
      <div class="sale-product-details">
        <div class="product-container">
          <h3 class="product-details-title">
            MARQ® Commander (Gen 2) - Carbon Edition
          </h3>
          <p class="product-details-tag">Product tag: 706587</p>
        </div>
        <div class="price-container">
          <span class="price-high">€1500</span>
          <span class="previous-price">€3000</span>
        </div>
        <p class="product-details-text">
          The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch
          for adventurers that takes materials and features to the next level.
          The body of the watch is made of very durable Fused Carbon Fiber
          material and has a precise AMOLED touch screen. The sensitive touch
          screen is complemented by buttons that can be used in any conditions.
        </p>
        <div class="material-block">
          <div class="material-block-items fused-carbon">
            Fused carbon fiber
          </div>
          <div class="material-block-items"><a href="">Grade-5 Titanuim</a></div>
          <div class="material-block-items"><a href="">Athlete</a></div>
          <div class="material-block-items"><a href="">Golfer</a></div>
          <div class="material-block-items"><a href="">Commander</a></div>
          <div class="material-block-items"><a href="">Adventurer</a></div>
        </div>
      </div>
    </div>
  </div>
</section>
