.container {
    max-width: 335px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
  }
  
  @media screen and (min-width: 704px) {
    .container {
      max-width: 704px;
      padding-left: 32px;
      padding-right: 32px;
    }
  }
  
  @media screen and (max-width: 1150px) {
    .container {
      max-width: 1150px;
      padding-left: 65px;
      padding-right: 65px;
    }
  }
  
  .reviews-section-title {
    font-family: "Gilroy", sans-serif;
    margin-bottom: 24px;
    font-weight: 600;
    font-size: 32px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #0c0c0c;
  }
  
  @media screen and (min-width: 704px) {
    .reviews-section-title {
      font-size: 48px;
      line-height: 0.92;
    }
  }
  
  .reviews-list {
    border-radius: 30px;
    width: 263px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    background: #f3f3f3;
  }
  
  @media screen and (min-width: 704px) {
    .reviews-list {
      gap: 16px;
      display: flex;
      align-items: center;
    }
  }
  
  @media screen and (max-width: 1150px) {
    .reviews-list {
      flex-direction: row;
      gap: 20px;
    }
  }
  
  .reviews-line-list {
    padding: 32px 36px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    max-width: 263px;
    height: 198px;
  }
  
  @media screen and (min-width: 704px) {
    .reviews-line-list {
      max-width: 272px;
      height: 208px;
    }
  }
  
  @media screen and (max-width: 1150px) {
    .reviews-line-list {
      width: 298px;
    }
  }
  
  .reviews-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 263px;
    height: 118px;
  }
  
  @media screen and (min-width: 704px) {
    .reviews-box {
      width: 272px;
      height: 128px;
    }
  }
  
  @media screen and (max-width: 1150px) {
    .reviews-box {
      width: 298px;
    }
  }
  
  .reviews-name-title {
    font-family: "Gilroy", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.02em;
    text-align: center;
    color: #0c0c0c;
  }
  
  @media screen and (min-width: 704px) {
    .reviews-name-title {
      font-size: 18px;
      line-height: 1.1;
    }
  }
  
  .reviews-text {
    font-family: "Gilroy", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    text-align: center;
    width: 263px;
    color: rgba(12, 12, 12, 0.4);
  }
  